/* Standards for commonly used elements */
div[class^="width-"] {box-sizing: border-box; -moz-box-sizing: border-box; padding-right: 15px;}
div.width-20	{width: 20%;}
div.width-30	{width: 30%;}
div.width-35	{width: 35%;}
div.width-40	{width: 40%;}
div.width-45	{width: 45%;}
div.width-50	{width: 50%;}
div.width-55	{width: 55%;}
div.width-60	{width: 60%;}
div.width-65	{width: 65%;}
div.width-70	{width: 70%;}
div.width-80	{width: 80%;}
div.width-100	{width: 100%;}

.clrlft		{clear: left;}
.clrrt		{clear: right;}
.fltlft		{float: left;}
.fltrt		{float: right;}
.fltnone	{float: none;}

.filter-select select {width: 150px;}
.filter-search label {display: inline-block;}
.filter-search input[type="text"] {margin: 0;}
#filter-bar {margin-bottom: 10px;}

.adminform legend, .about-component legend {margin:0; padding:0; border: 0; width: auto;}
table th label {margin: 10px 0;}

input.text-area-order {width: 10px;}

.input-append, .input-prepend {font-size: inherit !important;}

ul.adminformlist {list-style-type: none; margin: 0; padding: 0;}
