.mod_advertisementfactory_thumbnails {
    margin: 0 auto;
}

.mod_advertisementfactory_thumbnails tr,
.mod_advertisementfactory_thumbnails td {
    border: 0;
}

.mod_advertisementfactory_thumbnails td {
    padding: 3px;
    vertical-align: middle;
    text-align: center;
}

.mod_advertisementfactory_thumbnails img {
    border: 1px solid #dddddd;
}

.mod_advertisementfactory_thumbnails_debug {
    position: relative;
    width: 99%;
}

.mod_advertisementfactory_thumbnails_debug_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    opacity: 0.95;
    color: #000000;
    font-weight: bold;
    border: 1px dotted #000000;
}

.mod_advertisementfactory_thumbnails_debug_box div {
    padding: 5px;
}
