#company_groups, #candidate_groups {
    width: 250px;
}

/*
.selectlist {
    width: 220px !important;
}
*/

.admintable {
    border-collapse: collapse;
}

.width-100 {
    width: 100% !important;
}

fieldset input, fieldset textarea, fieldset img, fieldset button {
    float: none;
    margin: 5px 5px 5px 0;
    width: auto;
}

.btn-group {
    font-size: 12px !important;
}

a:link {
    color: #025A8D;
    outline: medium none;
    text-decoration: none;
}
a, img {
    margin: 0;
    padding: 0;
}

div.width-100 fieldset {
    padding: 2px !important;
    /*background-color: #FFFFFF !important;
    padding: 5px 17px 17px !important;*/
}
fieldset.adminform {
    margin: 10px !important;
    /*overflow: hidden !important;*/
}
fieldset {
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
}

fieldset.radio {
	margin:  1px 0 !important;
	padding: 0px !important;
}

dl.tabs {
	float: left;
	margin: 10px 0 -1px 0;
	z-index: 50;
}

dl.tabs dt {
	float: left;
	padding: 4px 10px;
	border: 1px solid #ccc;
	margin-left: 3px;
	background: #e9e9e9;
	color: #666;
}

dl.tabs dt.open {
	background: #F9F9F9;
	border-bottom: 1px solid #f9f9f9;
	z-index: 100;
	color: #000;
}

dl#content-pane.tabs {
	margin: 1px 0 0 0;
}

/* Tab changes for accessibility */
dl.tabs dt h3 {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: normal;
}

dl.tabs dt h3 a:link {
	color:#333333;
	outline:medium none;
	text-decoration:none;
}


/********************** CPanel **************************************************/
.cpanel div.icon, #cpanel div.icon {
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
}

.cpanel div.icon a, #cpanel div.icon a {
    background-color: #FFFFFF;
    background-position: -30px center;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #565656;
    display: block;
    float: left;
    height: 97px;
    text-decoration: none;
    transition-duration: 0.8s;
    transition-property: background-position, -moz-border-radius-bottomleft, -moz-box-shadow;
    vertical-align: middle;
    width: 108px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition-property:
        background-position,
        -webkit-border-bottom-left-radius,
        -webkit-box-shadow;
    -moz-transition-property:
        background-position,
        -moz-border-radius-bottomleft,
        -moz-box-shadow;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
}

#cpanel div.icon a:hover,
#cpanel div.icon a:focus,
#cpanel div.icon a:active,
.cpanel div.icon a:hover,
.cpanel div.icon a:focus,
.cpanel div.icon a:active {
	background-position: 0;
	-webkit-border-bottom-left-radius: 50% 20px;
	-moz-border-radius-bottomleft: 50% 20px;
	border-bottom-left-radius: 50% 20px;
	-webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 10;
}

#cpanel img, .cpanel img {
    margin: 0 auto !important;
    padding: 3px 0;
}

.cpanel span, #cpanel span {
	display: block;
	text-align: center;
}

div.cpanel-left {
	width: 40% !important; /*Override Joomla Style*/
	overflow-y: auto;
	float: left !important;
}
div.cpanel-right {
	width: 50%;
	float: left !important; /*Override Joomla Style*/
	margin-top: -20px;
}

/*.cpanel div.icon span, #cpanel div.icon span  {
    font-size: 83%;
}*/

a.saveorder {
	width: 16px;
	height: 16px;
	display: block;
	overflow: hidden;
	background: url(../thefactory/assets/images/filesave.png) no-repeat;
	margin-left: 15px;
}

.chzn-container {
    vertical-align: middle !important;
}

label.radio {
    margin-bottom: 2px;
    margin-left: 1px !important;
    margin-right: 1px !important;
    padding-top: 0 !important;
    border: 0px solid red;
    float: left !important;
}

label.custom_field {
    display: inline !important;
}

.custom_fields_box table td:first-child {
	width: 142px !important;
	padding-right: 5px !important;
	text-align: right;
	color: #38465A;
}

.right {
    text-align: right !important;
}

/*.radio input[type="radio"] {
    width: auto;
    margin: 0 4px !important;
    margin-left: 0px !important;
    float: left !important;
}*/

/*label, input {
    float: left !important;
    margin: 0 4px !important;
}*/