.mod_advertisementfactory_banners {
    margin: 0 auto;
    text-align: center;
}

.mod_advertisementfactory_banners_empty {
    margin: 0 auto;
    border: 1px solid #000000;
}

.mod_advertisementfactory_banners_bottom {
    text-align: right;
}

.mod_advertisementfactory_banners_debug {
    position: relative;
    width: 99%;
}

.mod_advertisementfactory_banners_debug_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    opacity: 0.95;
    color: #000000;
    font-weight: bold;
    border: 1px dotted #000000;
}

.mod_advertisementfactory_banners_debug_box div {
    padding: 5px;
}
