.plink{
    margin-left:15px;
    font-size:12px;
    color:red;
    cursor:pointer;
}
.slink{
    margin-left:20px;
    font-size:12px;
    cursor:pointer;
}
.st_tree{
	font-size:11px;
	color:red;
	font-weight:bold;
	cursor:pointer;
	height:9px;
}
.imgss{
    width:12px;
}
.Tree{
    background-color:#f5f5f5;
    padding-left:10px;
}

.price_input {
    width: 40px !important;
}


/* category display */
.jobs-filter-wrapper {
       margin-top: 5px;
   }

   .jobs-filter-wrapper ul {
       margin: 0 0 5px 5px;
       max-height: 11em;
       overflow: auto;
   }

   .jobs-filter-wrapper ul li {
       height: 1.54em;
       white-space: nowrap;
   }

   .jobs-filter-wrapper ul li a {
       display: inline-block;
       max-width: 95%; /*73%;*/
       overflow: hidden;
       white-space: nowrap;
   }