/**
 * @version		$Id: mootree.css 2010 vargas $
 */

.mootreelistdiv {
	width: 100%;
	overflow: hidden;
	border:none;
	margin:0;
	padding:0;
}
 
.mooTree_node {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	white-space: nowrap;
}

.mooTree_text {
	padding-top: 3px;
	height: 15px;
	cursor: pointer;
}

.mooTree_img {
	float: left;
	width: 18px;
	height: 18px;
	overflow: hidden;
}

.mooTree_selected	 {
	background-color: #ffc;
	font-weight: bold;
}
#mod_jobsfactorytree_ul{
    display: none;
}