{assign var="selected_tab" value="filter_link_my_$filter"}
{assign var="link" value=$links.$selected_tab}

<li class="{if ($filter==$filter_myjobs)}active{else}inactive{/if}">
	<a data-toggle="tab" href="#tab_{$filter}" rel="{$link}">{$label}</a>
</li>
{*href="{$ROOT_HOST}index.php?option=com_jobsfactory&Itemid={$Itemid}&task={$task}&filter_myjobs={$filter}">*}
