tr.payment_order_P td {
	background-color: #ffae7d;
}

tr.payment_order_X td {
	background-color: #FFF;
	color: #cdcdcd !important;
}

tr.payment_order_C td {
	background-color: #FFF;
	color: #1d689e !important;
}
