.advertisementfactory-fullpagead-header {
  width: 100%;
  text-align: right;
  border-bottom: 1px dotted #000000;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.advertisementfactory-fullpagead-content {
  margin: 0 auto;
  width: 90%;
}
