.readonly, .readonly:focus {
  border: 0px;
  font-weight: bold;
}

.advertisementfactory-message-title {
  background-color: #eeeeee;
  padding: 5px 10px;
}
.advertisementfactory-message-text {
  margin-bottom: 15px;
  padding: 5px 10px;
}
