.advertisementfactory-ad-type {
  border-bottom: 1px dotted #000000;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.advertisementfactory-ad-type ul {
  margin-left: 15px !important;
}

.advertisementfactory-module > li {
  list-style-image: url('../../images/buttons/page_header_footer.png');
}

.advertisementfactory-simple > li {
  list-style-image: url('../../images/buttons/bullet_add.png');
}
