.no_border tr, td {
    border: none !important;
}
.jobs_top_align {vertical-align: top;}
.jobs_top_align .job_values {line-height: 25px;}
.jobs_required , .job_required { color:#FF0000; font-size: 11px;}
.canceled_on { color:#B22222 !important; }
.expired { color: #ff2d2d !important; }

span.required_span {
    float: left;
}
/*.required_span, .validate_tip {
    float: none !important;
}*/


#afterd.cal-input, #befored.cal-input,
#start_date1.cal-input, #end_date1.cal-input {
    width: 167px !important;
}

.jobContainer {
	width:100% !important;
}

.width100left {
    width: 100% !important;
    float: left;
}

.buttons {
    background: url(images/save16.png) no-repeat scroll left top;
    line-height: 1.2em;
    padding: 1px 2px 1px 17px;
}

.cancelbutton {
    background: url(images/arrow1.gif) no-repeat scroll left top #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #444444;
    padding: 3px 5px 3px 7px;
    font-family: arial;
    font-weight: bold;
    line-height: 1.2em;
    text-decoration: none;
}

a.back_button_cancel:link {
    text-decoration: none;
}

table th a:link, table th a:visited {
    color: #656565 !important;
}

.title_grey {
    color: #333333;
}
.blue {
    color: #095197 !important;
}

.job_list_container th{
	font-size:90%;
    border-bottom: 1px solid #8D8484;
    padding:3px;
    border-radius: 25px;
    float:left;
}

.job_info_bottom img,.new_message img, .add_to_watchlist{
    margin:0px;
    height:16px;
    border:0;
}

.job_uniqueid {
    color: #800a07;
    font-weight: bold;
    font-size: 10px;
}

div.job_short_description
{
	display:none;
	width:270px;
	border:1px solid #000000;
	border-top:1px dotted #000000;
	border-left:1px dotted #000000;
	padding: 5px;
	margin-bottom:5px;
}
.job_category,
.job_category a,
.job_category a:visited
{
	margin-left:10px;
	font-size:95%;
	text-decoration: none;
}

.job_list_category,
.job_list_category a,
.job_list_category a:visited
{
    margin-left:10px;
    font-size:95%;
}

.job_list_category img {
    width: 14px;
    height: 14px;
    padding-top: 2px;
}
.job_shortdesc_spacer {
    /*margin-left:24px;*/
}

/* Listings */
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100% !important;
}

.job_title {
    font-size: 110%;
    font-weight: bold;
    position: relative;
}
.job_title a{
    text-decoration: none;
}
.job_title a:hover{
    text-decoration: underline;
}

.candidate_title {
    font-size: 103%;
    font-weight: bold;
    width: 200px;
}

.box_title {
    margin-bottom: -1px;
}
.box_bottom, .box_title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EDEDE0;
    border: 1px solid #EDEDE0;
    border-image: none;
    border-style: solid solid none;
    color: #494949;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 3px;
}

.box_bottom {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    bottom: 0;
    display: table;
    height: 20px;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    width: 100%;
}

.box_bottom div {
    padding: 3px;
}

.box_right_details {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #EDEDE0 #EDEDE0;
    border-image: none;
    border-top: none;
    border: 1px solid #EDEDE0;
    border-style: none solid solid;
    border-width: medium 1px 1px;
}

.box_right_details tr td:last-child,
.box_right_details div:last-child {
    padding-bottom: 5px;
}

.box_right_details div:first-child {
    margin-left: 2.12766% !important;
    margin-top: 5px;
}

.jobs_heading_status {
	color: #555555;
	font-size: 18px !important;
	font-family: 'Titillium Maps', Arial, sans-serif;
}

tr.job_row_1{
    border:none;
}
tr.job_row_2{
    background-color: #FFF;
    border:none;
}

.featured {
  position: relative;
  top: -13px;
  left: -10px;
}

.listing-featured .featured-image {
    position: absolute;
    margin: -13px 0 0 -10px;
}

.listing-featured .confidential-image {
    position: relative;
    margin: 2px -39px 5px 37px;
}

tr.listing-featured{
    background-color: #EDEDE0;
    border:none;
}

tr.listing-featured .job_title a{
    text-decoration: none;
    position: relative;
    margin-left: 40px;
}

tr.listing-featured .job_title label.custom_field  {
    position: relative;
    margin-left: 40px;
}

.job_expired {
    font-size: 13px;
    font-weight: bold;
    color: #b53f14 !important;
}

.closed{
    color:#802420;
}

tr.job_row_1 td,
tr.job_row_2 td,
tr.listing-featured td {
    border:none;
}

td.job_dt {
	font-size:13px;
	padding:5px;
}

.job_values {
    margin-bottom: 5px;
    display: block;
}

.cell-left_css {
    margin-left: 10px;
    position: relative;
}

.job_dbk {
	font-size:11px;	
	padding:5px;
}

.job_dbk_c {
	color:#38465A;
	font-size:11px;	
	padding:2px;
}

.job_dbk img {
    vertical-align: top !important;
}

td.job_foot {
   border-bottom: 1px solid #D0D0D0 !important;
   padding-top:3px;
   padding-bottom: 3px;
}

span.job_tag{
    border-radius: 5px;
    border: 1px solid #9cbed4;
    background-color: #5f809c;
    padding:3px;
    color: #FFF;
}

span.job_tag a,
span.job_tag a:hover{
    color: #FFF;
    text-decoration: none;
}
.job_price_bold{
	color: #8b0a07;	font-weight: bold; font-size: 12px;
}

/* tabs */

dl.tabs {
	float: left;
	margin: 10px 0 -1px 0 !important;
	z-index: 50;
}

dl.tabs dt {
	float: left;
	padding: 10px 10px;
	margin-left: 3px;
	background: #f0f0f0;
	background:url(images/box_bg.jpg) repeat-x;
	color: #556988;
}

dl.tabs dt.open {
	background: #F9F9F9;
	background:url(images/form_bg.jpg) repeat-x;
	border: 1px solid #ccc;
	border-bottom:none;
	z-index: 100;
	color: #556988;
}

div.current {
	clear: both;
	border-top:none;
    padding: 6px;
}

div.current dd {
	padding: 0;
	margin: 0;
}

.right {
    text-align: right;
    padding-right: 2px;
}

label,
.label {
	display: inline-block !important;
	font-size: 12px;
	font-weight: bold;
	color: #494949 !important;
	text-shadow: none !important; /* Override joomla template*/
	background: none !important; /* Override joomla template*/
}

.jobs_position {
    width: 100% !important;
    float: left;
    word-wrap: break-word;
    white-space: normal;
    padding: 1px;
}

.jobs_position_header {
    padding: 13px 12px 10px 15px;
}

.grey_line {
    border-bottom: 1px solid #E3E3E3;
}

.grey_line_top {
    border-top: 1px solid #E3E3E3;
}

.featured_job_detail {
    background-color: #EDEDE0;
    border-radius: 8px;
    margin-left: 2px;
    border: 1px solid #E6E393 !important;
}

.featured_job_detail label {
    color: #0088CC !important;
    padding: 3px;

}

.job_details span {
	border: 0;
	padding: 3px;
}

/* Job Details */
.job_details td, .job_details tr {
    padding: 3px 2px 0 5px;
}

.job_detail_info td, .job_detail_info tr {
    padding: 3px 2px 0 0;
}

.job_details_tag {
    width: 99%;
    word-wrap: break-word;
    white-space:normal;
    padding: 5px;
    float: left;
}

.tr_job_title_details {
    border-bottom: 2px solid #708090;
}

.job_title_details{
    font-size: 120%;
    font-weight: bold;
    margin-top: 5px;
    color: #494949;
}

.jobs_headerinfo{
    padding:30px;
    background: #FFF7F0;
    border: 1px solid #FFD6B4;
    font-weight: bold;
    color:#000;
    margin:3px;
}

.detail_job_header {
    margin-left: 2.12766% !important;
    padding-right: 2.13%
}

.detail_job_description{
    font-size: 90%;
     /*white-space: pre-wrap; /* Chrome; W3C standard */
    word-wrap: break-word; /* IE */
    /*white-space: pre-line;*/
    position: relative;
    top: 0;
}

.detail_job_description label {
    display: inline !important;
}

.detail_img_social {
 margin-right:5px;
 width:24px;
}

.job_detail_socialtoolbar {
    padding: 3px;
}

.jobs_search_map_filters {
    width: 100%;
}

.maps_detail_jobs {
    height:100%;
    min-width: 250px;
    min-height: 330px;
    margin-top:15px;
    margin-bottom: 15px;
    overflow: hidden;
    padding-left: 10px;
}

.maps_googlemap_tool {
    width:90%;
    height:95%;
    min-width: 500px;
    min-height: 300px;
    margin: auto;
}

#map_canvas{
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.map_search {
    width:100%;
    font-family:Arial, sans-serif;
    font-size:11px;
    border:1px solid black;
}

.left_detail {
	float: left;
	width: 100%;
}

.maps_t_search {
    width:100%;
    overflow: hidden;
    height: 100%;
    min-height:400px;
}

.maps_t_listjobs {
    width:auto;
    overflow: hidden;
    height:100%;
    min-height:400px;
}

.jobs_search label.radio {
    margin-left: 1px !important;
    margin-right: 1px !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    float: left !important;
}

label.radio {
    margin-bottom: 2px;
    margin-left: 1px !important;
    margin-right: 1px !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    float: left !important;
}

.detail_right_position {
    width: 100%;
    float: left;
    padding: 5px;
}

.custom_field, .job_lables {
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    min-width: 30px;
}

label.custom_field {
    display: inline !important;
    font-size : 12px;
}

/* Custom field [[ad edit page]] -- label cell */
.form-horizontal .custom_fields_box {
    display: inline-block;
    margin-left: 80px;
	width: 156px;
	padding-right: 5px;
	text-align: left;
	color: #38465A;
}

/* Custom field [[ad edit page]] -- field cell */
.form-horizontal .custom_fields_box {
	padding-left: 4px;
}
.job_edit_field_container input[type="checkbox"] {
    margin-bottom: 5px;
}

/* Custom field -- label cell */
#generalprofile .custom_fields_box table td:first-child {
	width: 283px !important;
	padding-right: 5px !important;
	text-align: right;
	color: #38465A;
}

.custom_fields_box table td:first-child {
    width: 202px !important;
    padding-right: 5px !important;
  	text-align: right;
   	color: #38465A;
}

.jobs_search .custom_fields_box table td:first-child {
	width: 110px !important;
	padding: 2px 0 !important;
    text-align: left;
}

#generalprofile .job_user_label,
#generalprofile label.custom_field {
	padding-bottom: 5px;
	padding-left: 5px;
	color: #38465A;
	font-size: 13px;
	font-weight: bolder;
}

td.detail_job_app{
	padding:15px;
    border-left: 1px solid #9cbed4 !important;
    width: 350px;
}
.detail_job_app textarea {
    width: 340px;
}

.applied-msg {
    background-color: #f9f9f9;
    color: #50C070;
    padding: 1px 6px;
    border-top: 1px solid #E3E3E3;
}

.detail_job_delimiter{
	border:1px solid #9cbed4 !important;
	border-bottom:none !important;
    line-height:5px;
    padding: 0 0 0 5px !important;
}
.detail_job_delimiter2{
	background:url(images/box_bg2.jpg) repeat-x;
	border:1px solid #9cbed4 !important;
	border-top:none !important;
    line-height:30px;
}

.v_spacer_7 {
    height:1px;
    line-height:7px;
    border:0px;
}

.v_spacer_5 {
    display: block;
    height: 5px;
}

.v_spacer_15 {
    display: block;
    height: 15px;
}

.job_message_separator{
    border-bottom: 1px solid #BBBBBB;
    margin-bottom:20px;
}

.job_app_message{
    border:solid 1px #BBBBBB !important;
    border-top:none!important;
    padding:15px 20px 5px 20px;
    word-wrap: break-word;
    word-break: break-all;
    width: 670px;
}
.job_msg_from{
    font-weight: bold;
    margin-right: 20px;
}
.job_msg_to{
    margin-right: 20px;
}
.job_msg_title{
    text-decoration: underline;
}
.job_msg_text{
    padding:20px;
    word-wrap: break-word;
    width:670px;
}
.close_job_div{
    top:300px;
    left:400px;
    position:absolute;
    z-index:1000;
    border:1px solid #DDDDDD;
    background:#EEEEEE;
}
.job_detail_text{
    border-left:1px solid #9cbed4 !important;
    border-right:1px solid #9cbed4 !important;
}

.listing {
    width: 32px;
}

.new_listing {
    width: 15px;
}

.detail_job_info{
	width:40%;
    border: medium none;
    height: inherit;
	padding:5px;
}

.detail_job_info label {
    display: inline !important;
}

/* Tab Menu on listings */
#job_tabmenu {
}

#job_tabmenu li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
}

#job_tabmenu a.inactive{
    background-color: #73bce6;
    border-bottom: 1px solid #007BC4;
    color: #FFF;
}

#job_tabmenu a.inactive:hover{
    background-color: #0e81c3;
}

#job_tabmenu a, a.active {
	font: bold 1em ;
}

#job_tabmenu a.active, a.active:hover {
    background-color: #FFF;
    color:#000;
    font-weight: bold;
    border-bottom:1px solid #FFF;
}

/** Categories */
#box_letters_filter {
    width: 100%;
	height: 30px;
	padding-left: 10px;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
}

#box_letters_filter a {
	margin-right: 10px;
    float: left;
    line-height: 20px;
}

#box_letters_filter > a.active {
	font-weight: bold;
	border: 1px solid #4276aa;
	background-color: #83cefb;
}

.job_categories{
	width:100%;
}

.job_categories tr,
.job_categories td {
    border: 1px solid #9cbed4;
}

.job_maincat{
	background:url('images/box_bg.jpg') repeat-x;
    line-height:40px;
    padding-left:5px;
    font-size: 120%;
    font-weight: bold;
	margin:0;
}

.job_maincat a{
    margin-right:5px;
}
.job_subcat_container{
	padding:10px 10px 10px 30px;
}
.job_subcat_container a  {
	color: #595959;
}

.job_subcat_container div{
    padding-left: 5px;
}
.job_subcat_container img{
    margin-right: 5px;
}
.job_cat_breadcrumb {
    line-height: 40px;
}
.job_cat_breadcrumb a{
    background: #4d6a80;
    color:#FFF !important;
    text-decoration: none;
    border-radius: 4px;
    padding:5px 15px;
}
.job_cat_breadcrumb strong{
    margin-left:10px;
}
.job_cat_description{
    padding:10px;
    font-size: 85%;
}

.job_treecat{
	padding:5px;
    height: 30px;
}
.job_treecat .cat_link{
	background:url('images/box_bg.jpg') repeat-x;
    line-height:30px;
    padding-left:15px;
    font-size: 115%;
    font-weight: bold;
	margin:0;
    border-top: 1px solid #CBE8F6;
    width: 100%;
}
.job_treecat .cat_toolbar{
    border-left: 1px solid #84b0d9;
    border-right: 1px solid #84b0d9;
    padding-left:25px;
    padding-bottom:5px;
}
.job_treecat .cat_legend{
    padding-left:25px;
    padding-bottom:5px;
    border-left: 1px solid #84b0d9;
    border-bottom: 1px solid #84b0d9;
    border-right: 1px solid #84b0d9;
}
.job_treecat img{
	width:15px;
    vertical-align:middle;
}
.job_treecat_icons {
    padding: 0 5px;
    vertical-align: middle;
}

.job_treecatsub_head .cat_link{
    font-weight: bold;
    padding-left:5px;
    line-height: 2;
    float: left;
}
.job_treecatsub_head .cat_toolbar{
    padding: 5px;
}
.job_treecatsub_head .cat_toolbar span{
    font-size: 80%;
}
.job_treecatsub{
	margin-left:35px !important;
}
.job_treecatsub a  {
	color: #595959;
}

.job_treecatsub img{
	width:16px;
    vertical-align:middle;
}

.job_treecatsub_head{
	border-bottom:1px dashed #CCCCFF;
    width: 99%;
}

/*Category selection*/

.job_categories_select{ }
.job_categories_select .cat_row_1{
    background:url('images/box_bg.jpg') repeat-x top !important;
    line-height: 30px;
    font-weight: bold;
}
.job_categories_select .cat_row_2{
	background:url('images/form_bg.jpg') repeat-x top !important;
    line-height: 30px;
    font-weight: bold;
}

.job_star{
    height: 16px;
}
div.multiupload{

}
/* SEARCH USER DETAILS */
.job_user{}
.job_user .user_head {
    background:url('images/box_bg.jpg') repeat-x top !important;
    line-height: 35px;
    font-size: 120%;
    font-weight: bold;
    padding-left:10px;
    border: 1px solid #9cbed4;
}
.job_user .user_info{
    background:url('images/form_bg.jpg') repeat-x top !important;
    padding:15px;
}
.user_info table td,
.user_info table tr{
    border:0;
}

.job_search_sub {
	font-size: 10px;
	padding-top: 5px;
	text-align: left;
	padding-left: 10px;
}

.job_search_sub  label {
    margin-bottom: 2px;
    display: inline !important;
}

.new_button{
	background:url('images/form_bg.jpg') repeat-x top !important;
	border:1px solid #CCCCFF;
	width:50px;
	text-align:center !important;
}
.jobs_search {
    line-height: 120%;
    font-size: 110%;
    margin: 10px;
}

.jobs_search td {
    padding: 2px 0;
}

.jobs_search td,
.jobs_search tr {
    border:none;
}

.jobs_search legend {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 25px;
}

div#resume.custom_fields_box {
    margin-left: 0 !important;
    padding-left: 0 !important;
    width: 100%;
}

.jobs_search_field {
    margin-bottom: 5px;
}

.jobs_search_keyword div,
.jobs_search_inner {
	border: 1px solid #C5C5C5;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	color: #777777;
	padding: 9px;
}

.jobs_search_keyword div input.big,
.jobs_search_inner input.big {
	-moz-transition: all 0.2s linear 0s;
	border: 1px solid #CBD0D5;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset;
	color: #555555;
	display: inline-block;
	margin-bottom: 0;
	max-width: 80%;
	margin-top: 0;
	padding: 8px;
	width: 70%;
	font-size: 16px;
	height: 25px;
	line-height: 25px;
}

select#radiusSelect  {
    width: 150px !important;
}

.info_header {
    font-weight: bolder;
}
.info_text {
    font-size: 90%;
    padding: 5px;
}
.msg_text {
    white-space: normal;
    width: 600px;
    padding: 5px;
    font-weight: bold;
    word-wrap: break-word;
}

/* Job EDIT */

.job_edit_value {
    padding-top: 5px;
}

.job_edit_header{
    font-size: 120%;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.job_edit_header table td,
.job_edit_header table tr
.job_edit_header table div
{
    border:none !important;
}

.job_edit_header table td{
    padding:3px 10px ;
    font-weight: bold;
    font-size: 130%;
}

.job_edit_header a{
    background: #9cbed4 !important;
    border-radius: 5px;
    padding: 5px 10px;
    color:#FFFFFF !important;
    font-weight: bold;
    font-size: 90%;
    text-decoration: none;
    line-height: 30px;
}
.job_edit_section{
    background: url(images/box_bg.jpg) repeat-x;
    font-size: 130%;
    font-weight: bold;
    line-height: 40px;
    padding:0 20px;
}
.resume_edit_section{
    background: url(images/box_bg.jpg) repeat-x;
    font-size: 130%;
    font-weight: bold;
    line-height: 40px;
    padding:0 20px;
}
.jobErrorTip {
    background-color: #292829;
    color:#FFF;
    padding-top:3px;
    padding-bottom:0;
    padding-left:10px;
    padding-right:10px;
    font-weight: bold;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

}
/* MY USER PROFILE */
.user_edit_header{
    background: #73BCE6;
    border:1px solid #5f809c;
    border-radius: 5px 5px 0px 0px;
}
.user_edit_header table td,
.user_edit_header table tr {
    border:none !important;
}
.user_edit_header table td{
    padding:3px 10px ;
    color:#FFF;
    font-weight: bold;
}
.user_edit_header a{

    border-radius: 5px;
    padding: 5px 10px;
    color:#FFFFFF !important;
    font-weight: bold;
    font-size: 90%;
    text-decoration: none;
    line-height: 30px;
}

.user_edit_section{
    background: url(images/box_bg.jpg) repeat-x 0 0 transparent;
    font-size: 130%;
    font-weight: bold;
    line-height: 40px;
    padding:0 20px;
    border-bottom: 1px solid #DDDDDD;
}

.jobs_userprofile a:link{
	font-weight: bold !important;
	font-size:13px !important;
}

.jobs_userprofile a:hover{
}

/* User Profile*/
table.user_detailstable{
    line-height: 25px;
}
table.user_detailstable td{
    border:1px solid #9cbed4;
}

table.user_resume,
div.user_resume {
    border-top: none !important;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}

.job_area_expertise{
    padding: 5px 10px 5px 10px;
}
.job_user_label{
    font-weight: bolder;
    padding-bottom: 5px;
    padding-left:5px;
}
.user_details_header a{
    background: #9cbed4 !important;
    border-radius: 5px;
    padding: 5px 10px;
    color:#FFFFFF !important;
    font-weight: bold;
    font-size: 90%;
    text-decoration: none;
    line-height: 30px;
}
/* Ratings */
.user_ratings_header{
    padding:20px;
    font-size: 110%;
    font-weight: bold;
}
.list_ratings_header{
	background:url('images/box_bg.jpg') repeat-x top !important;
    border: 1px solid #def5fa;
	padding:5px;
    margin: 3px;
    line-height: 30px;
}
.form_bg0{
	background:url('images/form_bg.jpg') repeat-x top !important;
    line-height: 25px;
    font-size: 110%;
}
.form_bg1{
    line-height: 25px;
}

.triangle-border {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	border:2px solid #5a8f00;
	color:#333;
	background:#fff;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
    word-wrap: break-word;
    width: 600px;
}

.triangle-border:before {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
	border-style:solid;
    border-color:#5a8f00 transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
	content:"";
	position:absolute;
	bottom:-13px; /* value = - border-top-width - border-bottom-width */
	left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	border-width:13px 13px 0;
	border-style:solid;
	border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}
/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
	top:-20px; /* value = - border-top-width - border-bottom-width */
	bottom:auto;
	right:auto;
	left:40px; /* controls horizontal position */
    border-width:0 20px 20px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
	top:-13px; /* value = - border-top-width - border-bottom-width */
	bottom:auto;
	right:auto;
	left:47px; /* value = (:before right) + (:before border-right) - (:after border-right) */
    border-width:0 13px 13px;
}

/* job list */
div.pagination{
    text-align: center;
}
span.job_hidden{
    font-weight: bold;
    color: #E52726;
}
div.jobsfactory_pending_notify{
   background-color: #EC6262;
   border: 1px solid #961212;
   border-radius: 10px;
   padding:10px;
   text-align: center;
   font-weight: bold;
   color:#000; 
}
div.sidebar_element {
    padding:5px;
    background-color: #EEEEFF;
    border-bottom:1px solid #9EA4FC;
    cursor: pointer;
}
a:hover img {
    background-color: #FFFFFF;
    text-decoration: none;
} 
.job_link {
    cursor: pointer;
}

ul.jobsfactory_menu {
    list-style-type: none !important;
    padding: 0; margin: 0;
    height: 26px;
}

ul.jobsfactory_menu li {
  float: left;
  margin-right: 1px !important;
  padding: 0 5px 0 10px !important;
  /*background-color: #dddddd;*/
  text-transform: capitalize;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}
ul.jobsfactory_menu li.selected {
    background-color: #556988;
}

ul.jobsfactory_menu li.selected a {
    color: #ffffff;
}

.user_edit_header ul.jobsfactory_menu li.selected a{
    background: #ffffff !important;
    border-radius: 5px;
    padding: 5px 10px;
    color:#5f809c !important;
    font-weight: bold;
    font-size: 90%;
    text-decoration: none;
    line-height: 30px;
}

.user_edit_header ul.jobsfactory_menu li.selected {
    background-color: #5f809c;
}

.last_dates {
    margin-bottom: 15px;
    margin-top: 10px;
}

span.radio {
    margin: 1px 0 !important;
    padding: 0 !important;
}

label.radiobtn {
    margin-bottom: 2px;
    border: 0 solid red;
    float: left !important;
}

.box_content {
    max-width: 100%;
    font-size: 90%;
    word-wrap: break-word;
    white-space: normal;
}

.box_content div {
    padding: 6px;
}

.job_details_info {
    font-size:12px !important;
    min-height: 105px;
}

select[multiple], select[size] {
    height: auto !important;
}

.nav-tabs {
    margin-bottom: 3px !important;
}
span.form-limit {
    float: right !important;
}

input.inputbox.required {
    float: left;
}

#countrylist span.required_span {
    display: none;
}

input[type="radio"] {
    margin: 2px 1px 5px 5px !important;
}

.number {
    font-size: 15px;
    font-weight: bold;
}
label.job_lables {
    display: inline !important;
    font-weight: bold;
    color: #494949;
    font-size: 12px;
}

.job_list_container a,
.job_list_container a:active,
.job_list_container a:focus {
  outline: none;
}

.job_list_container .rate-block {
  margin: 10px 0;
}

.job_list_container ul.user-rating {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*float: right;*/
}

.job_list_container ul.user-rating li {
  float: left;
  height: 16px;
  width: 16px;
  background-image: url('images/star-empty.png');
}

.job_list_container ul.user-rating.active li {
  cursor: pointer;
}

.job_list_container ul.user-rating li.full {
  background-image: url('images/star.png');
}

.job_list_container ul.user-rating.active:hover li {
  background-image: url('images/star.png');
}

.job_list_container ul.user-rating.active li:hover ~ li {
  background-image: url('images/star-empty.png');
}

.job_list_container ul.offer-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.job_list_container ul.offer-items li {
  float: left;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}

.job_list_container .full-items ul.offer-items li {
  width: 200px;
}

.job_list_container ul.offer-items li.active {
  opacity: .3;
}

.job_list_container ul.offer-items li img {
  float: left;
  max-height: 48px;
  max-width: 48px;
}

/************************************************************
 *         Payments history pagination
 ************************************************************/
.table_pagination_box {
}

.table_pagination_box tr,
.table_pagination_box td {
	border: none;
	padding-top: 5px;
}

.table_pagination_box tr.pagination_links ul {
	text-align: center !important;
}

.table_pagination_box tr.pagination_links li.pagination-start,
.table_pagination_box tr.pagination_links li.pagination-start a,
.table_pagination_box tr.pagination_links li.pagination-prev,
.table_pagination_box tr.pagination_links li.pagination-prev a,
.table_pagination_box tr.pagination_links li.pagination-next,
.table_pagination_box tr.pagination_links li.pagination-next a,
.table_pagination_box tr.pagination_links li.pagination-end,
.table_pagination_box tr.pagination_links li.pagination-end a,
.table_pagination_box tr.pagination_links li a.pagenav {
	text-transform: lowercase;
	text-decoration: none;
}

.pagination a, .pagination span {
    border: none !important;
    float: none !important;
}

.info_user {
    float: left;
    font-size: 14px;
    width: 99% !important;
    padding-left: 5px;
    margin-bottom: 3px;
    border: 1px solid #bedcfb;
   	background-color: #e3f2f9;
}
/*************************************************************************
 *         Add funds | Withdraw funds | Payment history
 *************************************************************************/
/* Div wrappers */
.box_balance_info,
.box_balance_actions {
	width: 44% !important;
    min-width: 230px;
	float: left;
    margin: 5px 0 0 10px;
    padding: 5px 10px;
	border: 1px solid #bedcfb;
	background-color: #e3f2f9;
}

/* Reset form margins (defined in Joomla default template) */
.box_balance_info form,
.box_balance_actions form {
	margin: 0 !important;
}

/* Info balance table */
#table_box_balance_info_box tr,
#table_box_balance_info_box tr td {
	border: none;
    width: 100%;
}

#table_box_balance_info_box tr
#table_box_balance_info_box td
#table_box_balance_info_box div {
	padding: 9px;
}

#table_box_balance_info_box td:first-child {
	white-space: nowrap;
}

#table_box_balance_info_box .balance_box {
	display: inline-block;
	padding-top: 4px;
}

#table_box_balance_info_box .my_balance_amount {
	font-size: 18px;
}

#table_withdraw_funds_box tr,
#table_withdraw_funds_box td,
#table_add_funds_box tr,
#table_add_funds_box td {
	border: none;
}

#table_withdraw_funds_box input,
#table_add_funds_box input {
	height: 25px;
	line-height: 25px;
	color: #494949;
}

#table_withdraw_funds_box input[type=submit],
#table_add_funds_box input[type=submit] {
	height: 27px;
	line-height: 1;
}

#table_payments_history_box {
}

#table_payments_history_box th {
	height: 25px;
	line-height: 25px;
	border: 1px solid #EEEEEE;
	border-bottom: 2px solid #AAAAAA;
	background-color: #E3F2F9;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "Trebuchet MS", sans-serif;
}

#table_payments_history_box tr,
#table_payments_history_box td {
	line-height: 1.5;
	border: none;
	color: #494949;
}

#table_payments_history_box tr:hover {
	background-color: rgba(207, 222, 228, 0.52);
}

#table_payments_history_box td.integer {
	padding-right: 20px;
	text-align: right;
}

/* Identify withdraw orders (made by admin) in user orders list */
#table_payments_history_box .withdraw {
	background-color: #F9F5E3;
}

/*
 * Identify commission orders in user orders list
 * - just matter of taste | not compulsory
 */
#table_payments_history_box .commission {
	/*background-color: #ffe3e4;*/
}

/*************************************************************************
 *                      Payments history pagination
 *************************************************************************/
.table_pagination_box {

}

.table_pagination_box tr,
.table_pagination_box td {
	border: none;
	padding-top: 5px;
}

.table_pagination_box tr.pagination_links ul {
	text-align: center !important;
}

.table_pagination_box tr.pagination_links li.pagination-start,
.table_pagination_box tr.pagination_links li.pagination-start a,
.table_pagination_box tr.pagination_links li.pagination-prev,
.table_pagination_box tr.pagination_links li.pagination-prev a,
.table_pagination_box tr.pagination_links li.pagination-next,
.table_pagination_box tr.pagination_links li.pagination-next a,
.table_pagination_box tr.pagination_links li.pagination-end,
.table_pagination_box tr.pagination_links li.pagination-end a,
.table_pagination_box tr.pagination_links li a.pagenav {
	text-transform: lowercase;
	text-decoration: none;
}

/*************************************************************************
 *                      Payment details page
 *************************************************************************/
.table_order_details_box tr th {
	height: 25px;
	line-height: 25px;
	border: 1px solid #EEEEEE;
	border-bottom: 2px solid #AAAAAA;
	background-color: #E3F2F9;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "Trebuchet MS", sans-serif;

}

.table_order_details_box tr td {
	padding: 5px;
	border: 1px solid #EEEEEE;
	text-align: right;
}

.order_total_label {
	padding-right: 30px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #494949;
}

.order_total_value {
	font-size: 20px;
	font-weight: bold;
	color: #494949;
}

.cancel_link_button {
	color: #124E85;
	padding: 5px;
	border: 1px solid #DDDDDD;
}

.cancel_link_button:hover {
	color: #124E85 !important;
	background-color: #FFFFFF !important;

	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}

/*  Payment gateways */

.payment_gateways,
.payment_gateways tr,
.payment_gateways td {
	padding: 5px;
	border: none;
	vertical-align: top;
}

.payment_gateways th {
	height: 25px;
	line-height: 25px;
	padding-left: 35px;
	background-color: #eee;
	border-bottom: 2px solid #AAAAAA;
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
	font-family: "Trebuchet MS", sans-serif;
	color: #7d8487;
}

.gateway_name {
	padding-bottom: 5px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: #494949;
}

.gateway_form {
	width: auto;
	overflow: auto;
}

.gateway_form input[type=image] {
	width: auto;
	float: left;
	margin-left: inherit !important;
}

.system_message
{
    margin: 10px 0 10px 10px !important;
    border-bottom: 1px solid rgb(221, 221, 221);
}

#emailresume
{
    line-height: 17px;
    font-weight: 400 !important;
    font-size: 13px;
}