{include file='js/t_javascript_language.tpl'}
{set_css}
<h1>{'COM_JOBS_USER_GROUP'|translate}&nbsp;{$user->name}</h1>

<div class="jobs_userprofile">

    <div class="">
        <div>{"COM_JOBS_USER_ID"|translate}  {$user->id} - {$user->username}</div>
        <span style="float:left;">{"COM_JOBS__USER_ADDED_TO_GROUP"|translate}

        {$group_type}</span>
    </div>


</div>
<div style="clear: both;"></div>