.mod_advertisementfactory_links_horizontal {
    overflow: hidden;
    margin-bottom: 5px;
}

.mod_advertisementfactory_links_horizontal ul {
    float: left;
}

.mod_advertisementfactory_links_horizontal li {
    float: left;
    margin-right: 10px !important;
}

.mod_advertisementfactory_links_debug {
    position: relative;
}

.mod_advertisementfactory_links_debug_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    opacity: 0.95;
    color: #000000;
    font-weight: bold;
    border: 1px dotted #000000;
}

.mod_advertisementfactory_links_debug_box div {
    padding: 5px;
}
