.advertisementfactory-wrapper {  }

.advertisementfactory-wrapper .center {
  text-align: center;
}

.advertisementfactory-wrapper table.list {
  width: 100%;
  border-collapse: collapse;
}

.advertisementfactory-wrapper table.list tr,
.advertisementfactory-wrapper table.list th,
.advertisementfactory-wrapper table.list td,
.advertisementfactory-wrapper table.list .pagination {
  border: 0px;
}

.advertisementfactory-wrapper table.list .pagination {
  border: 0px !important;
}

.advertisementfactory-wrapper table.list th,
.advertisementfactory-wrapper table.list td {
  padding: 5px 8px;
}

.advertisementfactory-wrapper table.list td {
  border-bottom: 1px dotted #dddddd;
}

.advertisementfactory-wrapper table.list tr.alternate td {
  background-color: #eeeeee;
}

.advertisementfactory-wrapper table.list th {
  background-color: #dddddd;
}

/* Buttons */
.advertisementfactory-button {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: center left;
  text-decoration: none;
}

.button-add { background-image: url('../images/buttons/add.png'); }
.button-delete { background-image: url('../images/buttons/icon-16-delete.png'); }
.button-magnifier { background-image: url('../images/buttons/magnifier.png'); }
.button-script { background-image: url('../images/buttons/script.png'); }
.button-bullet-go { background-image: url('../images/buttons/bullet_go.png'); }
.button-error { background-image: url('../images/buttons/error.png'); }
.button-exclamation { background-image: url('../images/buttons/exclamation.png'); }
.button-preview { background-image: url('../images/buttons/icon-16-preview.png'); }
.button-article { background-image: url('../images/buttons/icon-16-article.png'); }
.button-new { background-image: url('../images/buttons/icon-16-new.png'); }
.button-info { background-image: url('../images/buttons/icon-16-info.png'); }
