
h3 {
    color: white;
    font-family:Helvetica;
}
h3.g-title{
	color:white;
	text-transform:lowercase;
	text-transform: capitalize;
	font-family:Helvetica;
	font-size:1.5rem;
}



.hasTip{
	color:black;
}
table {
	border:none;
	font-size:17px;


}
.title_grey{
	font-size:10px;
	float:right;
}
td.cell1{
	background:none!important;
	font-color:white;
}
td{
	border:none;
}

input.inputbox.input-large{
	width:1200px;
	height:60px;
	font-size:25px;
	position:relative;
	right:15px;
}
input.btn.btn-primary.btn-block{
	height:40px;
	font-size:25px;
	position:relative;
	right:15px;

}
.jobContainer > .job_details {
	margin-left: 16px!important;
}
.controls > input.btn.btn-primary.btn-block {
	width:1180px;
}

.title_grey{
	float:left;
	font-size:12px;
}
tr{
	height:10px !important;
}
input.inputbox.required.input-large{
	width:auto;
}
input.inputbox{
	width:auto;
	color:black;
}
label.control-label.job_lables{
   
   font-size:15px;
}
span.g-menu-item-title{
	color:white;
	font-size:15px;
}
span{
	color:black;
}
a{
	font-size:20px;
}
label.custom_field{
	
	float:left;
}
span.job_list_category{
	font-family:14px;
}
div.control-group{
	color:black;
}
th{
	visibility:hidden;
}
div#specialitate{
	position:relative;
	right:43px;
	color:black;
}
div#sectors{
	color:black;
}
tr.job_row_1{
	background-color: white;
}
tr.job_row_2{
	background-color: white;
}
span.form-limit{
	font-size:15px;
	color:white;
}
select#limit.inputbox.input-mini{
	color:black;
}
section#g-navigation{
	background-color:black;
}
section#g-showcase.box1{
	background-color: black;
}
span.job_filter{
	color:white;
}
span.job_title_details{
	color:white;
}
label.job_lables.pull-left{
	color:white;
}


table.table-stripped.table.grey-line-top{
	position:relative;
	left:100px;
}

div.job_details.span12.grey_line1{
	background-color: white;
}
.input-small { 
height: 37px!important;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: none!important;
}
h2.g-title{
	margin-left:30px;
}
input.g-newsletter-inputbox{
	height:40px;
	font-size:16px;
}
input.g-newsletter-button.button.button-3{
	height:40px;
}